body{
    display: grid;
    grid-template-rows: 150px 600px 200px;
    margin: 0cm;
    background-color: #112936;
    }

nav h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
        }

 header{
    color: #faebd7;
    font-size: 2em;
 }

footer{
    background-color: #38b6ff;
    }
